<!DOCTYPE html>
<html>
<head>
  <title>ici</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  

  <link rel="apple-touch-icon" href="https://i.imgur.com/g6pkXWK.jpg">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://unpkg.com/mapbox-gl-leaflet@0.0.3/leaflet-mapbox-gl.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <!-- import Assembly JavaScript -->
  <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.21.2/assembly.js'></script>
  <!-- CDN Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pattaya|Roboto:300,400,700&display=swap" rel="stylesheet">
  <!-- BootstrapCDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstrap Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</head>
<body>

  <% if user_signed_in? %>

  <nav style=" display: flex; flex-direction: row; justify-content: space-between;">

    <div style="display: flex; align-items: center; margin-left: 0.2rem;">
      <p class="ici-navbar"><%= link_to "ici!", root_path %></p>
      <div style="margin-left: 0.2rem;"><%= form_tag searchs_path  do %>
      <%= text_field_tag :search, "", placeholder: "Chercher un lieu...", class: "form-control"%>
      <% end %></div>
    </div>

    <div style=" display: flex; flex-direction: row;">
      <button class="btn-navbar" onclick="window.location.href='/equipe'" >
        <svg class="icon-info" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 19 19" width="35px" height="35px" style="filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25))">
          <g fill="#007bff">
            <path d="M9.24,0c5.1,0 9.24,4.14 9.24,9.24c0,5.1 -4.14,9.24 -9.24,9.24c-5.1,0 -9.24,-4.14 -9.24,-9.24c0,-5.1 4.14,-9.24 9.24,-9.24Zm-3,9.84l0.24,0.48c0,0 1.232,-0.763 1.68,-0.72c0,0 0.019,0.889 -0.48,2.64c0,0 -1.034,2.542 -0.24,3.254c0,0 0.69,1.521 4.56,-1.814l-0.394,-0.602c0,0 -1.1,0.844 -1.564,0.685c-0.465,-0.159 0.156,-1.068 0.518,-2.483c0.362,-1.415 0.873,-3.093 0.381,-3.591c-0.492,-0.498 -2.541,0.104 -4.701,2.151Zm2.16,-4.56c0,0 -0.481,-1.503 0.782,-1.966c1.264,-0.464 1.778,0.142 2.098,0.526c0.251,0.301 0.063,1.351 -0.72,1.92c-0.687,0.5 -1.584,0.315 -2.16,-0.48Z"></path>
          </g>
        </svg>
      </button>

      <button class="btn-navbar" onclick="window.location.href='/contact/new'" >
        <svg class="icon_mail" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 19 18" width="40px" height="40px" style="filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25))">
          <g fill="#007bff">
            <path d="M12.289,12.661l0,4.859l-3.043,-4.859l-2.903,0c-3.501,0 -6.343,-2.837 -6.343,-6.331c0,-3.493 2.842,-6.33 6.343,-6.33l6.274,0c3.501,0 6.343,2.837 6.343,6.33c0,3.494 -2.842,6.331 -6.343,6.331l-0.328,0Zm-7.196,-7.409c0.873,0 1.582,0.707 1.582,1.579c0,0.871 -0.709,1.579 -1.582,1.579c-0.873,0 -1.582,-0.708 -1.582,-1.579c0,-0.872 0.709,-1.579 1.582,-1.579Zm3.862,0c0.874,0 1.583,0.707 1.583,1.579c0,0.871 -0.709,1.579 -1.583,1.579c-0.873,0 -1.582,-0.708 -1.582,-1.579c0,-0.872 0.709,-1.579 1.582,-1.579Zm3.863,0c0.873,0 1.582,0.707 1.582,1.579c0,0.871 -0.709,1.579 -1.582,1.579c-0.874,0 -1.582,-0.708 -1.582,-1.579c0,-0.872 0.708,-1.579 1.582,-1.579Z"/>
          </g>
        </svg>
      </button>

      <button class="btn-navbar" onclick="window.location.href='/profil'">
        <svg class="icon-config" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 16 21" width="40px" height="40px" style="filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25))">
          <g fill="#007bff">
            <path d="M7.92,11.505l0.034,0c8.857,0 7.852,6.47 7.852,6.47c-3.042,2.867 -7.852,2.396 -7.852,2.396c0,0 -0.012,-0.015 -0.034,-0.043c-0.022,0.028 -0.034,0.043 -0.034,0.043c0,0 -4.81,0.471 -7.852,-2.396c0,0 -1.005,-6.47 7.852,-6.47l0.034,0Zm0,-11.499c0.011,-0.001 0.023,-0.002 0.034,-0.003c0.835,-0.05 3.672,0.518 3.807,3.594c0.282,6.431 -3.807,5.991 -3.807,5.991c-0.011,-0.012 -0.023,-0.023 -0.034,-0.035c-0.011,0.012 -0.023,0.023 -0.034,0.035c0,0 -4.089,0.44 -3.807,-5.991c0.135,-3.076 2.972,-3.644 3.807,-3.594c0.011,0.001 0.023,0.002 0.034,0.003Z" ></path>
          </g>
        </svg>
      </button>

    </div>
  </nav>
  
  <div class="main-container text-center">
    <% if flash[:danger] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:danger] %>
    </div>  
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>  
    <% end %>
    <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>  
    <% end %>
  </div>

  <%= yield %>
  <% else %>
  <%= yield %>
  <%end %>
</body>
</html>
